<div class="row">
    <div class="col-lg-9 col-md-8">
        <div class="p-3">
            <h3>{{ site.data.profile.name }}</h3>
            <p class="text-muted text-profile-position">{{ site.data.profile.position }}</p>
            <p class="text-profile-bio">{{ site.data.profile.short_bio }}</p>
            
            <p class="mb-0">
                {% if site.data.profile.email %}
                <a href="mailto:{{ site.data.profile.email }}" target="_blank">
                    <i class="fas fa-envelope"></i> j3ssezhang102[at]gmail[dot]com
                </a>
                {% endif %}

                {% if site.data.profile.github %}
                <span class="ml-3">
                    <a href="{{ site.data.profile.github }}" target="_blank">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </span>
                {% endif %}

                {% if site.data.profile.zhihu %}
                <span class="ml-3">
                    <a href="{{ site.data.profile.zhihu }}" target="_blank">
                        <i class="fab fa-zhihu"></i> Zhihu
                    </a>
                </span>
                {% endif %}

                {% if site.data.profile.huggingface %}
                <span class="ml-3">
                    <a href="{{ site.data.profile.huggingface }}" target="_blank">
                        <img src="https://huggingface.co/front/assets/huggingface_logo-noborder.svg" 
                             alt="Hugging Face" 
                             style="height: 1.5em; vertical-align: middle;"> Hugging Face
                    </a>
                </span>
                {% endif %}

                {% if site.data.profile.blog %}
                <span class="ml-3">
                    <a href="{{ site.data.profile.blog }}" target="_blank">
                        <i class="fas fa-globe"></i> Blog
                    </a>
                </span>
                {% endif %}

                <!--{% if site.data.profile.resume %}
                <span class="ml-3">
                    <a href="{{ site.data.profile.resume }}" target="_blank">
                        <i class="fas fa-file-alt"></i> CV
                    </a>
                </span>
                {% endif %}-->

                {% if site.data.profile.linkedin %}
                <span class="ml-3">
                    <a href="{{ site.data.profile.linkedin }}" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </span>
                {% endif %}
            </p>
        </div>
    </div>
    {% if site.data.profile.show_portrait %}
    <div class="col-lg-3 col-md-4 d-flex align-items-center justify-content-center">
        <figure class="figure text-center mb-0">
            <img 
                src="{{ site.data.profile.portrait_url }}" 
                class="figure-img img-fluid img-thumbnail" 
                style="max-height: 400px; width: auto;"
                data-toggle="tooltip" 
                data-placement="top" 
                title="{{ site.data.profile.portrait_caption }}"
            >
            <figcaption class="figure-caption text-right"></figcaption>
        </figure>
    </div>
    {% endif %}
</div>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
